*{
    margin:auto;
    padding: auto;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align-last: auto;
    color: #23e40d;
    font-size: 40px;
}


.area{
    background: #d60c0c;  
    background: -webkit-linear-gradient(to left, #fa2121, #000000);  
    width: 150px;;
    height:0vh;
    
   
}

.circles{
    position: absolute;
    top: 100;
    left: 20;
    width: 100%;
    height: 150%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 50px;
    height: 50px;
    background: rgba(0, 255, 38, 0.945);
    animation: animate 30s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 10%;
    width: 100px;
    height: 100px;
    animation-delay: 50s;
}


.circles li:nth-child(2){
    left: 20%;
    width: 100px;
    height: 100px;
    animation-delay: 10s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 30%;
    width: 100px;
    height: 100px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 50%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 60%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 80%;
    width: 100px;
    height: 100px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 90%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 100%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    50%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

